<div class="housing">
    <h1 class="caps hide">Oops!</h1>
    <h2 class="hide">Where Are We?</h2>
    <h3 class="hide">The page you are looking for was moved, removed, renamed, or might never have existed.</h3>
</div>