<script
    type='text/javascript'
    src='https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js'
></script>

<!-- Contact Section -->
<div class='container'>
    <section>
        <!-- Contact Section Heading -->
        <h2>Contact Me</h2>
        <!-- Contact Section Form -->
        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
        <form
            class='flex-vert'
            name='sentMessage'
            onsubmit='return false'
            id='contactForm'
            novalidate='novalidate'
        >
            <div class='flex-vert'>
                <label><i class='fas fa-user-circle'></i> Name</label>
                <input
                    id='name'
                    type='text'
                    placeholder='Name'
                    required='required'
                    data-validation-required-message='Please enter your name.'
                />
            </div>

            <div class='flex-vert'>
                <label><i class='fas fa-at'></i> Email Address</label>
                <input
                    class='form-control'
                    id='email'
                    type='email'
                    placeholder='Email Address'
                    required='required'
                    data-validation-required-message='Please enter your email address.'
                />
            </div>

            <div class='flex-vert'>
                <label><i class='fas fa-phone'></i> Phone</label>
                <input
                    class='form-control'
                    id='phone'
                    type='tel'
                    placeholder='Phone Number'
                    required='required'
                    data-validation-required-message='Please enter your phone number.'
                />
            </div>

            <div class='flex-vert'>
                <label><i class='fas fa-envelope-open-text'></i> Message</label>
                <textarea
                    class='form-control'
                    id='message'
                    rows='5'
                    placeholder='Message'
                    required='required'
                    data-validation-required-message='Please enter a message.'
                ></textarea>
            </div>
            <br />
            <div class='flex-vert' id='success'></div>
            <!-- Display for Error Messages -->
            <div class='form-group'>
                <button
                    id='submit'
                    type='submit'
                    value='submit'
                    onclick='sendMail()'
                >Submit</button>
            </div>
        </form>
    </section>
</div>