<script
    type='text/javascript'
    src='https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js'
></script>

<!-- Contact Section -->
<div class='container'>
    <section>
        <!-- Contact Section Heading -->
        <h2>Contact Me</h2>
        <!-- Contact Section Form -->
        <!-- To edit how the email is is sent, use email.js -->
        <form
            class='flex-vert'
            name='sentMessage'
            onsubmit='return false'
            id='contactForm'
            novalidate='novalidate'
        >
            <div class='flex-vert'>
                <label><i class='fas fa-user-circle'></i> Name</label>
                <input
                    id='name'
                    type='text'
                    placeholder='Name'
                    required='required'
                    data-validation-required-message='Please enter your name.'
                />
            </div>

            <div class='flex-vert'>
                <label><i class='fas fa-at'></i> Email Address</label>
                <input
                    class='form-control'
                    name="email"
                    id='email'
                    type='email'
                    placeholder='Email Address'
                    required='required'
                    data-validation-required-message='Please enter your email address.'
                />
            </div>

            <div class='flex-vert'>
                <label><i class='fas fa-phone-alt'></i> Other form of contact</label>
                <input
                    class='form-control'
                    id='phone'
                    type='text'
                    placeholder='Phone Number'
                    required='required'
                    data-validation-required-message='Please enter your phone number.'
                />
            </div>

            <div class='flex-vert'>
                <label><i class='fas fa-envelope-open-text'></i> Message</label>
                <textarea
                    class='form-control'
                    id='message'
                    rows='5'
                    placeholder='Message'
                    required='required'
                    data-validation-required-message='Please enter a message.'
                ></textarea>
            </div>
            <br />
            <div class='flex-vert' id='success'></div>
            <!-- Display for Error Messages -->
            <div class='form-group'>
                <button
                    id='submit'
                    type='submit'
                    value='submit'
                    onclick='sendMail()'
                >Submit</button>
            </div>
        </form>
    </section>
</div>
<div class="container">
    <section>
        <label class="flex-vert">Feel free to email at <a href="mailto:trystonminsquero@gmail.com">TrystonMinsquero@gmail.com</a></label>
        
    </section>
</div>