/* Assuming this CSS file will be used in conjunction with style.css */
.page-container {
    background: url('../img/websiteBackground.png') 0 0 / cover;
}

.content-wrap .container {
    width: 75%;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    position: relative;
    color: white;
}

.content-wrap section {
    background: linear-gradient(to top, #000428, #004e92) no-repeat 0 0 / cover;
    border: 5px solid white;
    width: 400px;
    min-width: 350px;
    margin: 20px auto 20px auto;
    padding: 20px 10px 20px 10px;
    border-radius: 25px;
}

.content-wrap section h2 {
    font-size: 2em;
    font-weight: bold;
    padding: 15px 5px;
}

.content-wrap a {
    color: white;
    text-decoration: underline;
}

.content-wrap section i {
    font-size: 1.25rem;
    text-shadow: 0 0 5px black;
    padding: 10px 5px;
}

.content-wrap section label {
    text-shadow: 0 0 5px black;
    font-size: 1.25rem;
}

.content-wrap section input,
.content-wrap section textarea {
    width: 300px;
    border-radius: 5px;
    border: 5px solid white;
    box-shadow: 0 0 2px white;
}

.content-wrap section textarea {
    max-width: 300px;
    min-width: 300px;
    margin-bottom: 10px;
}

.content-wrap section input {
    height: 30px;
}

.content-wrap section button {
    width: 100px;
    height: 30px;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
}

.content-wrap section button:hover {
    text-shadow: 0 0 2px gray;
    font-weight: 500;
    cursor: pointer;
}

#success {
    display: flex;
    flex-direction: column;
    text-align: center;
}
