/* Assuming this CSS file will be used in conjunction with style.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.content-wrap {
    background: url('../img/websiteBackground.png') 0 0 / cover;
}

.content-wrap .container {
    margin: auto;
    width: 75%;
    padding: 25px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    background: #1A1C20
    no-repeat 0 0 / cover;
    min-height: 83vh;
}

.content-wrap h1,
.content-wrap h2,
.content-wrap h3 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    text-shadow: 0 0 3px wheat;
}

.content-wrap h1 {
    text-shadow: 0 0 5px wheat;
}
.content-wrap h2 {
    text-shadow: 0 0 3px wheat;
}
.content-wrap h3 {
    text-shadow: 0 0 2px wheat;
}

#links .header {
    text-shadow: 0 0 5px;
}

#links ul li {
    filter: invert(.7)
}

.content-wrap div.showdown-box {
    padding: 10px 50px;
    text-align: justify;
    width: 100%;
    font-size: large;
    /* background-color: #8f8f8f;
    box-shadow: 2px -2px 3px black inset;
    text-shadow: 1px 1.5px black; */
    color: white;
    border-radius: 25px;
    margin: 10px 0 30px 0;
}

/* Special Cases */
#showdown-content h3 {
    text-align: justify;
    width: 90%;
}

#showdown-content a {
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.1em;
}

#showdown-content a:hover {
    font-weight: normal;
    color: #4568dc;
}

/* This does not work, want to change the hover color if it is visited */
#showdown-content a:link.a:hover {
    font-weight: normal;
    color: #b06ab3;
}

#showdown-content ul ul {
    padding-left: 1em;
}

.content-wrap .flex p {
    background: linear-gradient(to right, #4568dc, #b06ab3) no-repeat 0 0 /
        cover;
    border: 3px solid white;
    box-shadow: none;
    width: 175px;
    padding: 8px 0;
    margin-bottom: 20px;
    text-shadow: none;
    text-align: center;
    flex-direction: column;
    border-radius: 25px;
}

.video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .video-wrapper iframe {
    max-width: 100%;
    max-height: 100%;
    min-width: 75%
  }

.content-wrap .flex p a {
    color: white;
    font-size: larger;
}

#showdown-content header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px; /* adjust the height to fit your image */
    background: none
  }
#showdown-content header img {
max-width: 80%;
}


#TryItOut {
    margin-bottom: 20px;
}
