@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

:root{
    --primary: #26426B;
    --secondary: #47556B;
    --secondary-dull: #4271B8;
    --highlight: #4271B8;
    --highlight-dull: #A39B1A;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lora', serif;
    color:black;
    line-height: 1.6;
}

h1, h2 {
    background-color: var(--secondary);
    font-weight: 300;
    line-height: 1.2;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

h2{
    padding: 0 0;
    font-weight: 200;
}

a {
    text-decoration: none;
    color:black;
    transition: all 0.1s ease-in;
}

a:hover {
    color: white;
    font-weight: bold;
}

a img.out:hover {
    filter: invert(1);
}

img {
    width: 100%;
    transition: all 0.2s ease-in;
}

.flex{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%
}

.container{
    overflow: auto;
    margin: 0 auto;
    justify-content: center;
}

.navbar{
    background-color: var(--primary);
    color: white;
    height: 50px;
}

.navbar a{

    padding: 10px;
    margin: 0 5px;
}

.roundedCircle{
    border-radius: 50%;
}

.list{
    display: flex;
    list-style-type: none;
}

.list-vert{
    display: flex;
    list-style-type: none;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.list li{
    padding: 5px 5px;
}

.home{
    background: linear-gradient(to top, #43cea2, #185a9d) no-repeat 0 0 / cover;
    align-items: stretch;
    align-content: center;
}

.home div{
    width:50%;
    padding: 20px 100px;
    padding-bottom: 0;
    background: linear-gradient(#43cea2, #185a9d) no-repeat;
    background-color: var(--primary);
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
}

