@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');

:root {
    --primary: #26426B;
    --secondary: #47556B;
    --secondary-dull: #4271B8;
    --highlight: #4271B8;
    --highlight-dull: #A39B1A;
    --tone1: #43cea2;
    --tone2: #06beb6;
    --tone3: #185a9d;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lora', serif;
    color:black;
    line-height: 1.6;
}

h1, h2 {
    background-color: transparent;
    font-weight: 300;
    line-height: 1.2;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

h2 {
    padding: 0 0;
    font-weight: 200;
}

a {
    text-decoration: none;
    color:black;
    transition: all 0.1s ease-in;
}

a:hover {
    color: white;
    font-weight: bold;
}

a img.out:hover {
    filter: invert(1);
}

img {
    width: 100%;
    transition: all 0.2s ease-in;
}

.desc {
    visibility: hidden;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
}

.shade:hover .desc {
    visibility: visible;
    opacity: 1;
    transform: translateY(175px);
}

.shade:hover img {
    opacity: 0.3;
}

.flex {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%
}

.flex-vert {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height:100%;
}

.container {
    overflow: auto;
    margin: 0 auto;
    justify-content: center;
}

.navbar{
    background: linear-gradient(to bottom right, #000428, #004e92) no-repeat 0 0 / cover;
    color: white;
    height: 50px;
    width: 100%;
    transition: all 0.2s ease-in;
}

.stick {
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar a {
    color: white;
    padding: 7.3px 15px;
    margin: 0 5px;
}

.navbar li:hover {
    background: linear-gradient(to left, #eb3349, #f45c43) no-repeat 0 0 / cover;
}

.roundedCircle {
    border-radius: 50%;
    transition: all 0.2s ease-in;
    width: 90%;
    height: 100%;
}

.roundedCircle:hover {
    transform: scale(0.95);
}

.list {
    display: flex;
    list-style-type: none;
}

.list-vert {
    display: flex;
    list-style-type: none;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.list li {
    padding: 5px 5px;
}

.home {
    /* background: linear-gradient(to bottom right, var(--tone1), var(--tone2), var(--tone3)) no-repeat; */
    /* background: linear-gradient(to bottom, #ff512f, #f09819) no-repeat 0 0 / cover; */
    /* background: linear-gradient(to bottom, #2c3e50, #4ca1af) no-repeat 0 0 / cover; */
    background: linear-gradient(to top right, #eba74e, #684103) no-repeat 0 0 / cover;
    align-items: stretch;
    align-content: center;
}

.home div {
    width:50%;
    padding: 20px 100px;
    padding-bottom: 0;
    background: transparent;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
}

.underline {
    display: inline-block;
    position: relative;
}

.underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Hover Effects */
figure.hover {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px 35px;
    min-width: 220px;
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

figure.hover * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;                         /* Needed for backwards compatibility */ 
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;               /* Needed for backwards compatibility */ 
}

figure.hover img {
    max-width: 100%;
    position: relative;
    opacity: 0.4;
}

figure.hover figcaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

figure.hover h2 {
    position: absolute;
    left: 40px;
    right: 40px;
    display: inline-block;
    background: black;
    -webkit-transform: skew(-10deg) rotate(-20deg) translate(0, -50%);
    transform: skew(-10deg) rotate(-20deg) translate(0, -50%);      /* Needed for backwards compatibility */ 
    padding: 12px 5px;
    margin: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 800;
}

figure.hover::before {
    height: 100%;
    width: 120%;
    top: 0;
    left: 0;
    content: '';
    background: white;
    transform: translateX(-7.5%);
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;               /* Needed for backwards compatibility */
    -webkit-transform: rotate(105deg) translateY(-40%);
    transform: rotate(105deg) translateY(-40%);     /* Needed for backwards compatibility */
}

figure.hover a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

figure.hover.blue {
    background: #123851;
}

figure.hover.blue h2 {
    background: #0a212f;
}

figure.hover.blue::before {
    background: #1a83da;
}

figure.hover.red {
    background: #581a14;
}

figure.hover.red h2 {
    background: #36100c;
}

figure.hover.red::before {
    background: #530404;
}

figure.hover.yellow {
    background: #7f5006;
}

figure.hover.yellow h2{
    background: #583804;
}

figure.hover.yellow::before {
    background: #d4dd50;
}

figure.hover:hover img {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);              /* Needed for backwards compatibility */
}

figure.hover:hover h2 {
    -webkit-transform: skew(-10deg) rotate(-20deg) translate(-150%, -50%);
    transform: skew(-10deg) rotate(-20deg) translate(-150%, -50%);  /* Needed for backwards compatibility */
}

figure.hover:hover::before {
    -webkit-transform: rotate(105deg) translateY(-140%);
    transform: rotate(105deg) translateY(-140%);    /* Needed for backwards compatibility */
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top right, #212121, #414141) no-repeat;
}

.projects h3 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--tone1);
    margin-top: 5px;
    text-shadow: 0 0 5px var(--tone3);
}

.active {
    background: linear-gradient(to right, #4568dc, #b06ab3) no-repeat 0 0 / cover;
}

.active a {
    font-weight: bold;
}

/* Header Settings */
header {
    background: linear-gradient(to left bottom, #313131, #555555) no-repeat 0 0 / cover;
    font-family: Courier, monospace;
    font-size: large;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 15px white;
    height: 60px;
}

.output {
    text-align: center;
}

.output > h1 {
    font-size: 40px;
}

/* Cursor Settings */
h1.cursor::after {
    content: '';
    display: inline-block;
    margin-left: 3px;
    background-color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    height: 40px;
    width: 11px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* Footer Settings */
footer {
    background: linear-gradient(to top, #414141, #787878) no-repeat 0 0 / cover;
    color: black;
}

.grid {
    display: grid;
}

footer.grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.footer_child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul.grid {
    grid-template-columns: repeat(3, 1fr);
}

.reset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.edge {
    height: 7px;
    background:  linear-gradient(to bottom, #000428, #004e92) no-repeat 0 0 / cover;
    box-shadow: 0 0 200px black;
}

.gap {
    padding: 0 5px;
}

/* Fixing Footer */
.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 4.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 4.5rem;
}

/* Portfolio Displays */
.buttons {
    border-radius: 10px;
    border: 4px solid #007aff;
    background-color: #007aff;
    width: 50%;
    margin: 1em;
    display: grid;
}

.buttons button {
    display: inline-block;
    border: none;
    padding: 0.5rem 0.5rem;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: large;
}

.current {
    background-color: #007aff;
    color: white;
}

.hide {
    display: none;
}

.swipe-left {
    transform: translateX(-100vw);
    transition: all 0.5s ease-in;
}

.swipe-right {
    transform: translateX(100vw);
    transition: all 0.5s ease-in;
}

.bkgrd-img {
    background: url('../img/games-background.webp') repeat;
}