@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

:root{
    --primary: #26426B;
    --secondary: #47556B;
    --secondary-dull: #4271B8;
    --highlight: #4271B8;
    --highlight-dull: #A39B1A;
    --tone1: #43cea2;
    --tone2: #06beb6;
    --tone3: #185a9d;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lora', serif;
    color:black;
    line-height: 1.6;
}

h1, h2 {
    background-color: transparent;
    font-weight: 300;
    line-height: 1.2;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

h2 {
    padding: 0 0;
    font-weight: 200;
}

a {
    text-decoration: none;
    color:black;
    transition: all 0.1s ease-in;
}

a:hover {
    color: white;
    font-weight: bold;
}

a img.out:hover {
    filter: invert(1);
}

img {
    width: 100%;
    transition: all 0.2s ease-in;
}

.desc {
    visibility: hidden;
    text-align: center;
    opacity: 0;
}

.shade:hover .desc {
    visibility: visible;
    opacity: 1;
}

.flex {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%
}

.flex-vert {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height:100%;
}



.container {
    overflow: auto;
    margin: 0 auto;
    justify-content: center;
}

.navbar{
    background: linear-gradient(to bottom right, #000428, #004e92) no-repeat 0 0 / cover;
    color: white;
    height: 50px;
    width: 100%;
    transition: all 0.2s ease-in;
}

.stick {
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar a {
    color: white;
    padding: 10px;
    margin: 0 5px;
}

.navbar li:hover {
    background: linear-gradient(to left, #eb3349, #f45c43) no-repeat 0 0 / cover;
}

.roundedCircle {
    border-radius: 50%;
    transition: all 0.2s ease-in;
    width: 90%;
    height: 100%;
}

.roundedCircle:hover {
    transform: scale(0.95);
}

.list {
    display: flex;
    list-style-type: none;
}

.list-vert {
    display: flex;
    list-style-type: none;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.list li {
    padding: 5px 5px;
}

.home {
    background: linear-gradient(to bottom right, var(--tone1), var(--tone2), var(--tone3)) no-repeat;
    align-items: stretch;
    align-content: center;
}

.home div {
    width:50%;
    padding: 20px 100px;
    padding-bottom: 0;
    background: transparent;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
}


.underline {
    display: inline-block;
    position: relative;
}

.underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}