/* Adds support for Smaller Devices */

@media (max-width: 768px) {
/* ============ Footer Settings ============ */
    /* Changing Grid Shape */
    footer.grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 0 5px;
        font-size: smaller;
    }

    /* Fixing Grid Location for Links */
    footer.grid div:nth-child(2) {
        grid-column: 2;
        grid-row: 1/3;
    }

    /* Left Aligned Divs */
    footer.grid div:first-child, footer.grid div:nth-child(3) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 5px;
    }

    /* Adjusting for Footer Height */
    .content-wrap {
        padding-bottom: 7rem;
    }
    
    /* Adjusting for Footer Height */
    .footer {
        min-height: 7rem;
    }

/* ============ Home Settings ============ */
    /* Changing Flex Direction */
    section.flex {
        flex-direction: column;
    }

    /* Adjusting Width */
    section.home div {
        width: 100%;
        padding: 20px;
    }

    /* Making Image smaller */
    .rounded-circle {
        width: 300px;
        height: 300px;
    }

    /* Making Header larger */
    #about-header {
        font-size: xx-large;
    }

/* ============ Projects Settings ============ */
    /* Rearranging Grid to fit Projects */
    section ul.grid {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 20px;
    }

/* ============ Navbar Settings ============ */
    /* Adjusting z-index for navbar */
    .navbar a {
        z-index: 3;
    }
}

/* Special Adjustment for Grid */
@media (max-width: 650px) {
    section ul.grid {
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }
}